.interviewscreenhome {
  display: flex;
  align-items: center;
  justify-content: "flex-start";
  background-color: #fffefa;
  max-width: 1900px;
  max-height: 1200px;
  height: 100vh;
  width: 100vh;
}
.titleinterviewhome {
  color: #fffefa;
  font-family: "Montserrat_700Bold";
  font-weight: 700;
  font-size: 30px;
  margin: 0px !important;
}
.titleinterviewhome2 {
  color: #0773a3;
  font-family: "Montserrat_700Bold";
  font-weight: 700;
  font-size: 30px;
  margin-top: 10px;
  text-align: center;
}

.logointerviewhome {
  width: 30px;
  height: 55px;
  margin-right: 20px;
  padding: 0px;
}

.imageinterviewhome {
  width: 110px;
  height: 220px;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-right: 20px;
}
.interviewhomebutton {
  margin-top: 20px;
  background-color: #0773a3;
  border-radius: 15px;
  border-color: #0773a3;
  width: 130px;
  height: 45px;
  color: #fffefa;
  font-family: "Montserrat_500Medium";
  font-weight: 600;
  font-size: 20px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.75;
}
.interviewhomebutton2 {
  margin-top: 20px;
  background-color: #0773a3;
  border-radius: 15px;
  border-color: #0773a3;
  width: 280px;
  height: 45px;
  color: #fffefa;
  font-family: "Montserrat_500Medium";
  font-weight: 600;
  font-size: 20px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.75;
}
.interviewhomebutton3 {
  margin-top: 20px;
  background-color: #0773a3;
  border-radius: 15px;
  border-color: #0773a3;
  width: 60px;
  height: 45px;
  color: #fffefa;
  font-family: "Montserrat_500Medium";
  font-weight: 600;
  font-size: 20px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.75;
}
.checkbox {
  width: 250px;
  background-color: transparent;
  border-color: transparent;
}
.regionview {
  align-items: center;
}
.regionselect {
  display: flex;
  flex-direction: row;
  align-items: "center";
}
.regiontitle {
  color: #0773a3;
  font-family: "Montserrat_700Bold";
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  margin-bottom: 15px;
}
.interviewhometext {
  font-family: "Montserrat_500Medium";
  font-size: 15px;
  color: #fffefa;
  text-align: center;
  padding: 5px;
}
.interviewhometext2 {
  font-family: "Montserrat_500Medium";
  font-size: 18px;
  color: #0773a3;
  text-align: center;
  margin-top: 10px;
}
.imageIcop {
  width: 130px;
  height: 130px;
}
.imageIcopSelected {
  width: 150px;
  height: 150px;
  border-width: 15px !important;
  border-color: yellow !important;
  border-radius: 100 !important;
}

.boxchat {
  width: 270px;
  height: 160px;
  border-radius: 10%;
  margin: 50px !important;
  background-color: #0773a3;
  padding: 20px;
  text-align: center;
  font-weight: 550;
  font-size: 20px;
  color: #fffefa;
  font-family: "Montserrat_500Medium";
  position: relative;
}

.arrowchat:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid #0773a3;
  border-right: 10px solid transparent;
  border-top: 10px solid transparent;
  border-bottom: 10px solid #0773a3;
  right: -8px;
  bottom: 7px;
}

.arrow {
  color: #fffefa;
  width: 20px;
  height: 20px;
}

.overlaydialoginterviewhome {
  display: flex;
  background-color: #fffefa;
  color: #0773a3;
  width: 100%;
  height: 300px;
  border-radius: 20px;
  opacity: 0.95;
  align-self: center;
  align-items: center;
  justify-content: center;
}
.overlaycontentinterviewhome {
  display: flex;
  width: 100%;
  height: 50vh;
  border-color: transparent !important;
  border-radius: 20px;
  background-color: transparent !important;
  opacity: 0.95;
  align-self: center;
  align-items: center;
  justify-content: center;
}
