body {
  background-color: #fffefa !important;
}

.interviewresult {
  display: flex;
  align-items: center;
  justify-content: "flex-start";
  background-color: #fffefa;
  max-width: 1900px;
  max-height: 1200px;
  height: 100vh;
  width: 100vh;
  flex-wrap: wrap;
}
.logointerviewresult {
  width: 30px;
  height: 55px;
  margin-right: 20px;
  padding: 0px;
}
.titleinterviewresult {
  color: #fffefa;
  font-family: "Montserrat_700Bold";
  font-weight: 700;
  font-size: 30px;
  margin: 0px !important;
  text-align: center;
}
.titleinterviewresult2 {
  color: #0773a3;
  font-family: "Montserrat_700Bold";
  font-weight: 700;
  font-size: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}

.imageinterviewresult {
  width: 120px;
  height: 220px;
}
.buttoninterviewresult {
  margin-bottom: 10px;
  background-color: #0773a3;
  border-radius: 15px;
  border-color: #0773a3;
  width: 60px;
  height: 45px;
  color: #fffefa;
  font-family: "Montserrat_500Medium";
  font-weight: 600;
  font-size: 20px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.75;
}
.buttoninterviewresult2 {
  margin-bottom: 40px;
  margin-top: 10px;
  margin-left: 4px;
  margin-right: 4px;
  background-color: #0773a3;
  border-radius: 15px;
  border-color: #0773a3;
  width: 230px;
  height: 45px;
  color: #fffefa;
  font-family: "Montserrat_500Medium";
  font-weight: 600;
  font-size: 20px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.75;
}
.buttoninterviewresult3 {
  margin-bottom: 5px;
  margin-top: 15px;
  background-color: #0773a3;
  border-radius: 15px;
  border-color: #0773a3;
  width: 320px;
  height: 45px;
  color: #fffefa;
  font-family: "Montserrat_500Medium";
  font-weight: 600;
  font-size: 20px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.75;
}
.buttoninterviewresult4 {
  margin-top: 15px;
  margin-bottom: 10px;
  background-color: #0773a3;
  border-radius: 15px;
  border-color: #0773a3;
  width: 200px;
  height: 45px;
  color: #fffefa;
  font-family: "Montserrat_500Medium";
  font-weight: 600;
  font-size: 20px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.75;
}
.buttoninterviewresult5 {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #0773a3;
  border-radius: 15px;
  border-color: #0773a3;
  width: 60px;
  height: 45px;
  color: #fffefa;
  font-family: "Montserrat_500Medium";
  font-weight: 600;
  font-size: 20px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.75;
}
.textinterviewresult {
  font-family: "Montserrat_500Medium";
  font-weight: 600;
  font-size: 20px;
  color: #0773a3;
  padding: 5px;
  text-align: center;
}
.textinterviewresult2 {
  font-family: "Montserrat_500Medium";
  font-weight: 600;
  font-size: 14px;
  color: #0773a3;
  padding: 5px;
  text-align: center;
}
.texticopresult {
  font-family: "Montserrat_500Medium";
  font-weight: 600;
  font-size: 20px;
  color: #0773a3;
  width: 290px;
  text-align: center;
}
.textcategoryresult {
  font-family: "Montserrat_500Medium";
  font-weight: 600;
  font-size: 20px;
  color: #0773a3;
  text-align: center;
  margin: 0px !important;
}

.trophyresult {
  width: 130px;
  height: 130px;
}

.overlaydialoginterviewresult {
  display: flex;
  background-color: #4fa2c7;
  color: #fffefa;
  width: 100%;
  height: 300px;
  border-radius: 20px;
  opacity: 0.95;
  align-self: center;
  align-items: center;
  justify-content: center;
}
.overlaycontentinterviewresult {
  display: flex;
  width: 100%;
  height: 50vh;
  border-color: transparent !important;
  border-radius: 20px;
  background-color: transparent !important;
  opacity: 0.95;
  align-self: center;
  align-items: center;
  justify-content: center;
}
