.interviewscreen {
  display: flex;
  align-items: center;
  justify-content: "flex-start";
  background-color: #fffefa;
  max-width: 1900px;
  max-height: 1200px;
  height: 100vh;
  width: 100vh;
}

.logointerviewscreen {
  width: 30px;
  height: 55px;
  margin-right: 20px;
  padding: 0px;
}

.topbarinterviewscreen {
  width: 100% !important;
  margin: 0px !important;
  max-width: 1900px;
  background-color: #0773a3 !important;
}

.titleinterviewscreen {
  color: #fffefa;
  font-family: "Montserrat_700Bold";
  font-weight: 700;
  font-size: 30px;
  margin: 0px !important;
}
.titleinterviewscreen2 {
  color: #0773a3;
  font-family: "Montserrat_700Bold";
  font-weight: 700;
  font-size: 22px;
  text-align: center;
}
.imageinterviewscreen {
  width: 130px;
  height: 130px;
  align-self: center;
}
.buttoninterviewscreen {
  margin-top: 20px;
  background-color: #0773a3;
  border-radius: 15px;
  border-color: #0773a3;
  width: 60px;
  height: 45px;
  color: #fffefa;
  font-family: "Montserrat_500Medium";
  font-weight: 600;
  font-size: 20px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.75;
}
.buttonanswer {
  margin-top: 20px;
  background-color: #4fa2c7;
  border-radius: 15px;
  border-color: #4fa2c7;
  width: 430px;
  height: 135px;
  color: #fffefa;
  font-family: "Montserrat_500Medium";
  font-weight: 600;
  font-size: 20px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.75;
}
.buttonanswerselected {
  margin-top: 20px;
  background-color: #e8c518;
  border-radius: 15px;
  border-color: #e8c518;
  width: 430px;
  height: 135px;
  color: #fffefa;
  font-family: "Montserrat_500Medium";
  font-weight: 600;
  font-size: 20px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.75;
}
.textinterviewscreen {
  font-family: "Montserrat_500Medium";
  font-size: 15px;
  color: #fffefa;
  text-align: center;
  padding: 5px;
}
.advicetext {
  font-family: "Montserrat_500Medium";
  font-size: 20px !important;
  color: #fffefa !important;
  background-color: transparent !important;
  text-align: center;
  padding: 20px;
}
.overlaydialoginterviewscreen {
  display: flex;
  background-color: #4fa2c7;
  width: 100%;
  height: 300px;
  border-radius: 20px;
  opacity: 0.95;
  align-self: center;
  align-items: center;
  justify-content: center;
}
.overlaycontentinterviewscreen {
  display: flex;
  width: 100%;
  height: 50vh;
  border-color: transparent !important;
  border-radius: 20px;
  background-color: transparent !important;
  opacity: 0.95;
  align-self: center;
  align-items: center;
  justify-content: center;
}
