body {
  background-color: #fffefa !important;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fffefa;
  max-width: 1900px;
  max-height: 1200px;
  height: 100vh;
  flex-wrap: wrap;
}
.titlelogin {
  color: #0773a3;
  font-family: "Montserrat_700Bold";
  font-weight: 700;
  font-size: 28px;
}
.textlogin {
  font-family: "Montserrat_500Medium";
  font-size: 20px;
  color: #0773a3;
}
.textlogin2 {
  margin-top: 2px;
  font-family: "Montserrat_500Medium";
  font-size: 18px;
  color: #0773a3;
}
.smalltextlogin {
  font-family: "Montserrat_400Regular_Italic";
  font-size: 16px;
  font-weight: italic;
  color: #0773a3;
  margin-top: 5px;
}
.buttonlogin {
  margin-top: 20px;
  background-color: #0773a3;
  border-radius: 15px;
  border-color: #0773a3;
  width: 130px;
  height: 45px;
  color: #fffefa;
  font-family: "Montserrat_500Medium";
  font-weight: 600;
  font-size: 20px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.75;
}
