body {
  background-color: #fffefa !important;
}

.passwordrecovery {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fffefa;
  max-width: 1900px;
  max-height: 1200px;
  flex-wrap: wrap;
}
.titlerecovery {
  color: #0773a3;
  font-family: "Montserrat_700Bold";
  font-size: 28px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 60px;
}
.textrecovery {
  font-family: "Montserrat_500Medium";
  font-size: 18px;
  color: #0773a3;
}
.buttonrecovery {
  margin-top: 20px;
  background-color: #0773a3;
  border-radius: 15px;
  border-color: #0773a3;
  width: 130px;
  height: 45px;
  color: #fffefa;
  font-family: "Montserrat_500Medium";
  font-weight: 600;
  font-size: 20px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.75;
}
