.passwordrecovery {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fffefa;
}
.title {
  color: #0773a3;
  font-family: "Montserrat_700Bold";
  font-size: 22px;
  margin-top: 30px;
  margin-bottom: 60px;
}
.text {
  font-family: "Montserrat_500Medium";
  font-size: 18px;
  color: #0773a3;
}
.button {
  margin-top: 20px;
  background-color: #0773a3;
  border-radius: 15px;
  border-color: #0773a3;
  width: 130px;
  height: 45px;
  color: #fffefa;
  font-family: "Montserrat_500Medium";
  font-weight: 600;
  font-size: 20px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.75;
}
