.shop {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #fffefa;
}

.logoshop {
  width: 30px;
  height: 55px;
  margin-right: 20px;
  margin-left: 15px;
  padding: 0px;
}

.topbarshop {
  width: 100% !important;
  height: 70px;
  margin: 0px !important;
  max-width: 1900px;
  background-color: #0773a3 !important;
}
.titleshop {
  color: #fffefa;
  font-family: "Montserrat_700Bold";
  font-weight: 700;
  font-size: 30px;
  margin: 0px !important;
  align-self: center;
}
.titleshop2 {
  color: #0773a3;
  font-family: "Montserrat_700Bold";
  font-weight: 700;
  font-size: 32px;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}
.textshop {
  font-family: "Montserrat_500Medium";
  font-weight: 500;
  font-size: 18px;
  color: #0773a3;
  padding: 5px;
}
.buttonshop {
  margin-bottom: 10px;
  margin-top: 5px;
  background-color: #0773a3;
  border-radius: 15px;
  border-color: #0773a3;
  width: 120px;
  height: 45px;
  color: #fffefa;
  font-family: "Montserrat_500Medium";
  font-weight: 600;
  font-size: 20px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.75;
}

.buttonshop2 {
  margin-bottom: 10px;
  margin-top: 20px;
  background-color: #0773a3;
  border-radius: 15px;
  border-color: #0773a3;
  width: 180px;
  height: 45px;
  color: #fffefa;
  font-family: "Montserrat_500Medium";
  font-weight: 600;
  font-size: 20px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.75;
}
.checkboxshop {
  width: 250px;
  padding: 0px;
  background-color: "transparent";
  border-color: "transparent";
}
.rowcheckbox {
  color: #0773a3;
  font-family: "Montserrat_500Medium";
  font-weight: 600;
  font-size: 28px;
}

.overlaydialogshop {
  display: flex;
  background-color: #fffefa;
  color: #0773a3;
  width: 100%;
  height: 300px;
  border-radius: 20px;
  opacity: 0.95;
  align-self: center;
  align-items: center;
  justify-content: center;
}
.overlaycontentshop {
  display: flex;
  width: 100%;
  height: 50vh;
  border-color: transparent !important;
  border-radius: 20px;
  background-color: transparent !important;
  opacity: 0.95;
  align-self: center;
  align-items: center;
  justify-content: center;
}
